$colour--body-bg: #edebe3;
$colour--body-text: #252f38;
$colour--highlight: #e2845b;
$colour--secondary: darken(#7aa1a7, 15%);
$colour--tertiary: #252f38;

$colour--nav-bg: lighten(#7aa1a7, 10%);
$colour--nav-text: #252f38;
$colour--nav-highlight: #edebe3;

$colour--header-bg: #252f38;
$colour--header-text: #edebe3;

$colour--button-bg: $colour--highlight;
$colour--button-text: #edebe3;
$colour--button-border: #a76244;

$colour--aside-bg: darken(#edebe3, 10%);

$colour--footer-bg: #252f38;
$colour--footer-text: #edebe3;
